:root{
    --theme-color-primary: #c2185b;
    --theme-color-accent: #b0bec5;
    --theme-color-warn: #f44336;
}
body{
    background: #303030;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    margin: 0;
}