:root{
    --theme-color-primary: #7b1fa2;
    --theme-color-accent: #69f0ae;
    --theme-color-warn: #f44336;
}
body{
    background: #303030;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    margin: 0;
}
