<mat-card>
    <mat-card-header>
        <mat-card-title>Require</mat-card-title>
        <mat-card-subtitle>example require net</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-stroked-button type="button" [disabled]="disabled" (click)="onClickRequireSingle()">require
            single</button>
        <button mat-stroked-button type="button" [disabled]="disabled" (click)="onClickRequireMultiple()">require
            multiple</button>
        <button mat-stroked-button type="button" [disabled]="disabled" (click)="onClickMD5()">md5</button>
    </mat-card-actions>
</mat-card>