<p>about works!</p>
<button mat-button color="accent">Basic</button>
<button mat-button disabled>disabled</button>
<a mat-button routerLink=".">Link</a>
<button mat-raised-button>Basic</button>
<button mat-stroked-button>Basic</button>
<button mat-flat-button>Basic</button>
<button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<button mat-fab>Basic</button>
<button mat-mini-fab>Basic</button>
<mat-icon fontSet="fontawesome-fab" fontIcon="fa-gitlab"></mat-icon>
<p>about works!</p>
<button mat-button color="accent">Basic</button>
<button mat-button disabled>disabled</button>
<a mat-button routerLink=".">Link</a>
<button mat-raised-button>Basic</button>
<button mat-stroked-button>Basic</button>
<button mat-flat-button>Basic</button>
<button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<button mat-fab>Basic</button>
<button mat-mini-fab>Basic</button>
<mat-icon fontSet="fontawesome-fab" fontIcon="fa-gitlab"></mat-icon>
<p>about works!</p>
<button mat-button color="accent">Basic</button>
<button mat-button disabled>disabled</button>
<a mat-button routerLink=".">Link</a>
<button mat-raised-button>Basic</button>
<button mat-stroked-button>Basic</button>
<button mat-flat-button>Basic</button>
<button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<button mat-fab>Basic</button>
<button mat-mini-fab>Basic</button>
<mat-icon fontSet="fontawesome-fab" fontIcon="fa-gitlab"></mat-icon>
<p>about works!</p>
<button mat-button color="accent">Basic</button>
<button mat-button disabled>disabled</button>
<a mat-button routerLink=".">Link</a>
<button mat-raised-button>Basic</button>
<button mat-stroked-button>Basic</button>
<button mat-flat-button>Basic</button>
<button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<button mat-fab>Basic</button>
<button mat-mini-fab>Basic</button>
<mat-icon fontSet="fontawesome-fab" fontIcon="fa-gitlab"></mat-icon>
<p>about works!</p>
<button mat-button color="accent">Basic</button>
<button mat-button disabled>disabled</button>
<a mat-button routerLink=".">Link</a>
<button mat-raised-button>Basic</button>
<button mat-stroked-button>Basic</button>
<button mat-flat-button>Basic</button>
<button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<button mat-fab>Basic</button>
<button mat-mini-fab>Basic</button>
<mat-icon fontSet="fontawesome-fab" fontIcon="fa-gitlab"></mat-icon>
<p>about works!</p>
<button mat-button color="accent">Basic</button>
<button mat-button disabled>disabled</button>
<a mat-button routerLink=".">Link</a>
<button mat-raised-button>Basic</button>
<button mat-stroked-button>Basic</button>
<button mat-flat-button>Basic</button>
<button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<button mat-fab>Basic</button>
<button mat-mini-fab>Basic</button>
<mat-icon fontSet="fontawesome-fab" fontIcon="fa-gitlab"></mat-icon>
<p>about works!</p>
<button mat-button color="accent">Basic</button>
<button mat-button disabled>disabled</button>
<a mat-button routerLink=".">Link</a>
<button mat-raised-button>Basic</button>
<button mat-stroked-button>Basic</button>
<button mat-flat-button>Basic</button>
<button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<button mat-fab>Basic</button>
<button mat-mini-fab>Basic</button>
<mat-icon fontSet="fontawesome-fab" fontIcon="fa-gitlab"></mat-icon>
<p>about works!</p>
<button mat-button color="accent">Basic</button>
<button mat-button disabled>disabled</button>
<a mat-button routerLink=".">Link</a>
<button mat-raised-button>Basic</button>
<button mat-stroked-button>Basic</button>
<button mat-flat-button>Basic</button>
<button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<button mat-fab>Basic</button>
<button mat-mini-fab>Basic</button>
<mat-icon fontSet="fontawesome-fab" fontIcon="fa-gitlab"></mat-icon>
<p>about works!</p>
<button mat-button color="accent">Basic</button>
<button mat-button disabled>disabled</button>
<a mat-button routerLink=".">Link</a>
<button mat-raised-button>Basic</button>
<button mat-stroked-button>Basic</button>
<button mat-flat-button>Basic</button>
<button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<button mat-fab>Basic</button>
<button mat-mini-fab>Basic</button>
<mat-icon fontSet="fontawesome-fab" fontIcon="fa-gitlab"></mat-icon>
<p>about works!</p>
<button mat-button color="accent">Basic</button>
<button mat-button disabled>disabled</button>
<a mat-button routerLink=".">Link</a>
<button mat-raised-button>Basic</button>
<button mat-stroked-button>Basic</button>
<button mat-flat-button>Basic</button>
<button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<button mat-fab>Basic</button>
<button mat-mini-fab>Basic</button>
<mat-icon fontSet="fontawesome-fab" fontIcon="fa-gitlab"></mat-icon>